<li>
    {{burger_name}}

    <button class="change-stat btn {{#if devoured}} btn-success {{else}} btn-danger {{/if}}" data-id="{{id}}" data-neweaten="{{devoured}}">
        {{#if devoured}}Eat me! {{else}}Put me back!{{/if}}
    </button>
</li>