<li>
    {{burger_name}}

    <button class="change-stat btn {{#if devoured}} btn-danger {{else}} btn-success {{/if}}" data-id="{{id}}" data-neweaten="{{devoured}}">
        {{#if devoured}}Put me back!{{else}}Eat me!{{/if}}
    </button>
</li>